body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
@media (max-width: 425px) {
  body{
    width: 100%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*DEFAULT CONTAINER*/
/*LOADING*/
.container-load{
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #ffae0b; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*DIVIDER*/
.container-divider{
  width: 100%;
  height: 77px;
  background-color: #e77838;
  background-image: linear-gradient(315deg, #ffae0b 0%, #f34333ec 74%);
  text-align: center;
}
.container-text{
  padding: 1px;
  font-size: 22px;
  text-transform: uppercase;
  color:white;
}
@media (max-width: 425px) {
  .container-divider{
    width: 100%;
    height: 60px;
  }
  .container-text{
    font-size: 16px;
  }
}
/*NAVBAR*/
.container-navbar{
  background:black;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  opacity: 0.5;
  z-index: 10000;
}
.logo-navbar{
  width: 130px;
  height: 100%;
}
.container-list{
  display: flex;
  background: black;
  color: white;
  width: 50%;
  padding: 20px;
}
.container-list li{
  text-decoration: none;
  list-style: none;
  font-size: 23px;
  margin-left: 50px;
  color:red;
}
.container-list li{
  cursor: pointer;
}
@media (max-width: 1331px) {
  .container-navbar{
    display: none;
  }
}
@media (max-width: 425px) {
  .container-list li{
    font-size: 20px;
  }
}
/*HEADER*/
.container-img img{
  background-size: cover;
  width: 100%;
  height: 950px;
  position: relative;
}
.container-title-header{
  position: absolute;
}
.container-date-title-header{
  margin-top: 35%;
  margin-left: 17%;
  color:white;
}
.container-date-title-header h2{
  font-size: 55px;
  text-transform: uppercase;
}
.container-date-title-header h3{
  font-size: 40px;
}
@media (max-width: 1024px) {
  .container-date-title-header h2{
    margin-top: 40%;
    font-size: 45px;
  }
  .container-date-title-header h3{
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .container-img{
    width: 100%;
  }
  .container-img img{
    width: 100%;
    height: 550px;
  }
  .container-date-title-header h2{
    margin-top: 40%;
    font-size: 24px;
  }
  .container-date-title-header h3{
    font-size: 20px;
  }
}
/*MAIN*/
.container-main{
  width: 80%;
  margin:0 auto;
  padding: 10%;
}
.container-video{
  width: 100%;
}
iframe{
  width: 100%;
  height: 600px;
  /* margin-left: 10%; */
  border-radius:10px;
}
@media (max-width: 425px) {
  
  iframe{
    width: 100%;
  }
}
/*IMG SLIDER DOUBLE*/
.container-img-slider-doble{
  display: flex;
  width: 100%;
}
.container-img-slider-one img, .container-img-slider-two img{
  width: 100%;
}
.container-img-slider-one{
  width: 100%;
  height: 650px;
  background-image: url('./Img/fondoLbc.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.title-banda{
  color:white;
  position: absolute;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 50px;
}
.container-img-slider-two {
  width: 100%;
  height: 650px;
  background-image: url('./Img/fondoLaMonada.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.display-none-smartphone-display-inline{
  display: none;
}
@media (max-width: 1024px) {
  .container-img-slider-one{
    width: 100%;
  }
}
@media (max-width: 425px) {
  .container-img-slider-one, .container-img-slider-two{
    display: none;
  }
  .display-none-smartphone-display-inline{
    display: inline;
    width: 100%;
    margin-top: 5%;
  }
  .display-none-smartphone-display-inline img{
    width: 100%;
  }
  .title-banda{
    font-size: 15px;
    margin-top: 8%;
  }
}
/*ABOUT US BANDAS*/
.about-us-banda{
  text-align: center;
  display: flex;
}
.container-banda-left{
  margin-bottom: 40px;
}

.container-banda-right, .container-banda-left{
  width: 50%;
  color:white;
  font-size: 23px;
}
.container-banda-right ul li{
  text-decoration: none;
  list-style: none;
  margin-top: 10px;
}
.container-banda-left ul li{
  text-decoration: none;
  list-style: none;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .container-banda-right{
    margin-top:1.5%;
  }
}
@media (max-width: 425px) {
  .about-us-banda{
    width: 425px;
    display: inline;
  }
  .container-banda-right{
    margin-bottom: 10%;
  }
  .container-banda-right, .container-banda-left{
    width: 90%;
    font-size: 15px;
    padding: 5px;
  }
  .container-banda-right h4 ,.container-banda-left h4{
    font-size: 20px;
    margin-left: 10%;
  }
}
/*GALERY IMG*/
.container-galery-img{
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
.container-img{
  display: flex;
}
.container-img-galery img{
  width: 30%;
  padding: 25px;
  margin:0 auto;
  transition: 1s;
}
.container-img-galery img:hover{
  cursor: pointer;
  width: 31.5%;
  transition: 1s;
}

@media (max-width: 1440px) {
  .container-img-galery img{
    width: 29%;
    padding: 25px;
    margin:0 auto;
    transition: 0.5s;
  }
  .container-img-galery img:hover{
    cursor: pointer;
    width: 30%;
    transition: 0.5s;
  }
}
@media (max-width: 1024px) {
  .container-img-galery img{
    width: 28%;
    padding: 25px;
    margin:0 auto;
    transition: 0.5s;
  }
  .container-img-galery img:hover{
    cursor: pointer;
    width: 29%;
    transition: 0.5s;
  }
}
@media (max-width: 600px) {
  .container-galery-img{
    margin-top: 50px;
    width: 100%;
    height: 2800px;
  }
  .container-img-galery img{
    width: 86%;
  }
  .container-img-galery img:hover{
    cursor: pointer;
    width: 87.5%;
    transition: 0.5s;
  }
}
/*IMG SLIDER*/
.container-img-slider{
  width: 100%;
}
.container-img-slider{
  width: 100%;
  height: 650px;
  background-image: url('./Img/fondoImgSlider1.jpg');
  background-attachment: fixed;
}
@media (max-width: 600px) {
  .container-img-slider{
    display: none;
  }
  .container-img-slider{
    height: 250px;
  }
}
/*ABOUT US*/
.container-abouts-us{
  width: 100%;
  height: 550px;
  display: flex;
  background-color: black;
}
.container-img-about{
  width: 55%;
}
.container-img-about img{
  width: 100%;
  height: 100%;
}
.container-text-about{
  width: 45%;
  text-align: center;
  background-color: black;
  padding: 15px;
}
.container-text-about h3{
  font-size: 40px;
  text-transform: uppercase;
}
.container-text-about h3,.container-text-about p{
  margin-top: 75px;
  color:white;
  padding: 10px;
}
@media (max-width: 1024px) {
  .container-text-about{
    width: 45%;
    text-align: center;
    background-color: black;
    padding: 5px;
  }
}
.container-text-about h3{
    margin-top: 10%;
}
.container-text-about p{
  text-align: center;
}
@media (max-width: 600px) {
  .container-abouts-us{
    display: none;
  }
}
/*ARTICLE MAPS*/
.container-maps{
  margin-top: 50px;
  margin-bottom: 80px;
  width: 100%;
  height: 550px;
  display: flex;
  background-color: black;
}
.container-img-maps{
  width: 55%;
  margin-left: 25px;
}
.container-img-maps img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
input{
  width: 60%;
  padding: 5px;
  margin-top: 10px;
}
textArea{
  width: 62%;
  margin-top:10px;
  height: 100px;
  border-radius: 5px;
}
.button-contacto{
  width: 50%;
  margin-top: 10px;
  background-color: #f7762c;
  background-image: linear-gradient(315deg, #ffae0b 0%, #f6323c 74%);
  color:white;
  font-size: 20px;
  padding: 4px;
  border-radius: 5px;
}
.button-contacto:hover{
  cursor: pointer;
  background-color: #f7762c;
  background-image: linear-gradient(315deg, #ffae0b 0%, #ff000d 74%);
  transition: 1s;
}
@media (max-width: 425px) {
  .container-maps{
    display: inline;
  }
  .container-img-maps{
    margin-top: 7%;
    width: 90%;
  }
  .container-img-maps img{
    width: 100%;
  }
  .form{
    width: 95%;
    margin-bottom: 20%;
  }
  .form h3{
    margin-left: 5%;
  }
  form{
    width: 100%;
    margin-left: 3%;
  }
}
/*FOOTER*/
.container-footer{
  width: 100%;
  height: 200px;
  background: rgb(37, 37, 37);
}
.container-redes-sociales-footer{
  display: flex;
  width: 100%;
}
.container-derechos-reservados-footer{
  width: 100%;
  padding: 25px;
  color:white;
  text-align: center;
}
.container-derechos-reservados-footer{
  margin-top: 40px;
}
.container-icon{
  width: 100%;
  color:white;
  margin-top: 40px;
  text-align: center;
}
.container-icon h3{
  margin-left: 45px;
}
@media (max-width: 425px) {
  .container-redes-sociales-footer{
    display: inline;
    width: 100%;
  }
  .container-icon{
    width: 100%;
    font-size: 8px;
  }
  .container-icon h3{
    margin-left: 10px;
  }
  .container-derechos-reservados-footer{
    width: 85%;
    font-size: 10px;
    color:white;
  }
  .container-derechos-reservados-footer{
    margin-left: 10px;
  }
}